body {
    background-image: url(3.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.eming {
     
    border: 10px solid;
    -webkit-text-fill-color: rgb(84, 11, 158);
    padding: 10px;
    text-align: center;
}

.bruha {

    text-align: center;
    padding: 10px;
    text

}

